*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
    height:100vh;
    background-image: url(bg.jpeg);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.logo{
    color: white;
    font-size: 30px;
}
span{
    color: black;
}
nav ul li{
    display: inline;
    padding: 10px 20px;
}
nav ul li a{
    color:white ;
    font-weight: 500;
}
nav ul li a:hover{
    color: black;
}
 nav ul li:active{
    background-color: #adff2f;
    border-radius: 50%;
    padding: 0 10px auto;

 }
 button{
    border: none;
    background: #adff2f;
    padding: 10px 15px;
    border-radius:50px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
 }
 button:hover{
    transform: scale(1.3);
    cursor: pointer;
    
 }